<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="style.css">
  <style>
    .wrapper {
      display: flex;
      flex-flow: column nowrap;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="title">
      <h1>Usuário</h1>
    </section>

    <section class="sample">
      <div class="wrapper">
        <input type="text" v-model="userInput"><br>
        <p>user input: <span>{{ userInput }}</span></p>
      </div>
    </section>

    <section class="sample-explain">
      <ul>
        <li>diretiva <code>v-model</code></li>
        <li><em>two-way data binding</em></li>
      </ul>
    </section>

    <section class="nav-btn left">
      <a href="flow.html">< prev</a>
    </section>
    <section class="nav-btn right">
      <a href="components.html">next ></a>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        userInput: ''
      }
    });
  </script>
</body>
</html>
