<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" class="container">
    <section class="title">
      <h1>Renderização</h1>
    </section>

    <section class="sample">
      {{ mensagem }}
    </section>

    <section class="sample-explain">
      <ul>
        <li>renderização declarativa do DOM</li>
        <li>reatividade</li>
      </ul>
    </section>

    <section class="nav-btn left">
      <a href="install.html">< prev</a>
    </section>
    <section class="nav-btn right">
      <a href="render2.html">next ></a>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        mensagem: 'Oi do Vue.js!'
      }
    });
  </script>
</body>
</html>
