:root {
  --vue-light: #42b883;
  --vue-dark: #35495e;
  --txt-color: #cbb6a1;
}

body {
  background-color: var(--vue-dark);
  margin: 0px;
  color: var(--txt-color);
  font-size: 30px;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

.container {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(16, 1fr);

  width: 100% ;
  height: 100vh;
}

.title {
  grid-row: 1/3;
  grid-column: 2/16;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--vue-light);
  font-size: 2em;
}

.nav-btn {
  grid-row: 9/10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn.right {
  grid-column: -2/-1;
}

.nav-btn.left {
  grid-column: 1/2;
}

.nav-btn a {
  font-size: 0.5em;
}

.lista {
  grid-row: 3/8;
  grid-column: 4/14;
}

li {
  line-height: 3em;
  height: auto;
}

.two-blocks {
  grid-row: 4/8;
  grid-column: 3/-3;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.two-blocks .right {
  grid-row: 1/1;
  grid-column: 2/2;

  border-left: 5px solid var(--vue-light);
}

.two-blocks h2 {
  text-align: center;
}

.sample {
  grid-row: 3/5;
  grid-column: 4/-4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-explain {
  grid-row: 5/8;
  grid-column: 4/-4;
}
